In [16]:
import pandas as pd
df = pd.read_excel('bdv-data/Export 17_05_2020 02_20.xlsx', sheet_name='Results')

df1 = pd.read_excel('bdv-data/Export 17_05_2020 02_20 1.xlsx', sheet_name='Results')

In [23]:
df.shape

(586, 1705)

In [24]:
df1.shape

(586, 1705)

In [25]:
df3 = df.append(df1)
df3.shape

(1172, 1705)

In [35]:
import glob
rc = pd.DataFrame()

for f in glob.glob('bdv-data/Export*.xlsx'):
    print(f)
    df = pd.read_excel(f, sheet_name='Results')
    print(df.shape)
    rc = rc.append(df)
    print(rc.shape)

bdv-data/Export 17_05_2020 00_25-2.xlsx
(586, 1705)
(586, 1705)
bdv-data/Export 17_05_2020 01_35.xlsx
(586, 1705)
(1172, 1705)
bdv-data/Export 17_05_2020 00_18.xlsx
(586, 1705)
(1758, 1705)
bdv-data/Export 17_05_2020 00_23 1.xlsx
(586, 1705)
(2344, 1705)
bdv-data/Export 17_05_2020 00_31 1.xlsx
(586, 1705)
(2930, 1705)
bdv-data/Export 17_05_2020 01_23.xlsx
(586, 1705)
(3516, 1705)
bdv-data/Export 16_05_2020 23_59.xlsx
(586, 1705)
(4102, 1705)
bdv-data/Export 17_05_2020 01_19.xlsx
(586, 1705)
(4688, 1705)
bdv-data/Export 17_05_2020 00_15 1.xlsx
(586, 1705)
(5274, 1705)
bdv-data/Export 17_05_2020 02_09.xlsx
(586, 1705)
(5860, 1705)
bdv-data/Export 17_05_2020 00_34.xlsx
(586, 1705)
(6446, 1705)
bdv-data/Export 17_05_2020 00_02 2.xlsx
(586, 1705)
(7032, 1705)
bdv-data/Export 17_05_2020 00_14.xlsx
(586, 1705)
(7618, 1705)
bdv-data/Export 17_05_2020 01_39.xlsx
(586, 1705)
(8204, 1705)
bdv-data/Export 16_05_2020 23_59 1.xlsx
(586, 1705)
(8790, 1705)
bdv-data/Export 17_05_2020 01_13 1.xlsx
(586, 1705)
(9376, 1705)
bdv-data/Export 16_05_2020 23_55 1.xlsx
(586, 1705)
(9962, 1705)
bdv-data/Export 17_05_2020 00_02.xlsx
(586, 1705)
(10548, 1705)
bdv-data/Export 17_05_2020 01_54 1.xlsx
(586, 1705)
(11134, 1705)
bdv-data/Export 17_05_2020 02_18 1.xlsx
(586, 1705)
(11720, 1705)
bdv-data/Export 17_05_2020 01_54.xlsx
(586, 1705)
(12306, 1705)
bdv-data/Export 17_05_2020 02_13.xlsx
(586, 1705)
(12892, 1705)
bdv-data/Export 17_05_2020 01_37 1.xlsx
(586, 1705)
(13478, 1705)
bdv-data/Export 16_05_2020 23_55.xlsx
(586, 1705)
(14064, 1705)
bdv-data/Export 17_05_2020 02_05.xlsx
(586, 1705)
(14650, 1705)
bdv-data/Export 17_05_2020 01_15.xlsx
(586, 1705)
(15236, 1705)
bdv-data/Export 17_05_2020 01_25 1.xlsx
(586, 1705)
(15822, 1705)
bdv-data/Export 17_05_2020 02_14 1.xlsx
(586, 1705)
(16408, 1705)
bdv-data/Export 17_05_2020 01_42.xlsx
(586, 1705)
(16994, 1705)
bdv-data/Export 17_05_2020 01_43.xlsx
(586, 1705)
(17580, 1705)
bdv-data/Export 16_05_2020 23_57 1.xlsx
(586, 1705)
(18166, 1705)
bdv-data/Export 17_05_2020 01_14.xlsx
(586, 1705)
(18752, 1705)
bdv-data/Export 17_05_2020 02_04.xlsx
(586, 1705)
(19338, 1705)
bdv-data/Export 17_05_2020 01_11 1.xlsx
(586, 1705)
(19924, 1705)
bdv-data/Export 17_05_2020 01_18 2.xlsx
(586, 1705)
(20510, 1705)
bdv-data/Export 16_05_2020 23_54.xlsx
(586, 1705)
(21096, 1705)
bdv-data/Export 17_05_2020 02_20 1.xlsx
(586, 1705)
(21682, 1705)
bdv-data/Export 17_05_2020 01_55.xlsx
(586, 1705)
(22268, 1705)
bdv-data/Export 17_05_2020 01_27 1.xlsx
(586, 1705)
(22854, 1705)
bdv-data/Export 17_05_2020 02_16 1.xlsx
(586, 1705)
(23440, 1705)
bdv-data/Export 17_05_2020 01_35 1.xlsx
(586, 1705)
(24026, 1705)
bdv-data/Export 17_05_2020 02_04 1.xlsx
(586, 1705)
(24612, 1705)
bdv-data/Export 17_05_2020 01_38.xlsx
(586, 1705)
(25198, 1705)
bdv-data/Export 17_05_2020 00_15.xlsx
(586, 1705)
(25784, 1705)
bdv-data/Export 17_05_2020 00_24 2.xlsx
(586, 1705)
(26370, 1705)
bdv-data/Export 17_05_2020 00_35.xlsx
(586, 1705)
(26956, 1705)
bdv-data/Export 17_05_2020 02_08.xlsx
(586, 1705)
(27542, 1705)
bdv-data/Export 17_05_2020 00_35-2.xlsx
(586, 1705)
(28128, 1705)
bdv-data/Export 17_05_2020 00_33 1.xlsx
(586, 1705)
(28714, 1705)
bdv-data/Export 17_05_2020 01_18.xlsx
(586, 1705)
(29300, 1705)
bdv-data/Export 17_05_2020 00_23.xlsx
(586, 1705)
(29886, 1705)
bdv-data/Export 16_05_2020 23_58.xlsx
(586, 1705)
(30472, 1705)
bdv-data/Export 17_05_2020 00_28 2.xlsx
(586, 1705)
(31058, 1705)
bdv-data/Export 17_05_2020 00_09 1.xlsx
(586, 1705)
(31644, 1705)
bdv-data/Export 17_05_2020 01_22.xlsx
(586, 1705)
(32230, 1705)
bdv-data/Export 17_05_2020 00_19.xlsx
(586, 1705)
(32816, 1705)
bdv-data/Export 17_05_2020 01_34.xlsx
(586, 1705)
(33402, 1705)
bdv-data/Export 17_05_2020 00_05 1.xlsx
(586, 1705)
(33988, 1705)
bdv-data/Export 17_05_2020 00_12.xlsx
(586, 1705)
(34574, 1705)
bdv-data/Export 17_05_2020 01_38 2.xlsx
(586, 1705)
(35160, 1705)
bdv-data/Export 17_05_2020 01_31 1.xlsx
(586, 1705)
(35746, 1705)
bdv-data/Export 17_05_2020 01_23 1.xlsx
(586, 1705)
(36332, 1705)
bdv-data/Export 17_05_2020 00_04.xlsx
(586, 1705)
(36918, 1705)
bdv-data/Export 17_05_2020 01_40 1.xlsx
(586, 1705)
(37504, 1705)
bdv-data/Export 17_05_2020 01_29.xlsx
(586, 1705)
(38090, 1705)
bdv-data/Export 17_05_2020 01_15 1.xlsx
(586, 1705)
(38676, 1705)
bdv-data/Export 16_05_2020 23_56 2.xlsx
(586, 1705)
(39262, 1705)
bdv-data/Export 17_05_2020 00_28.xlsx
(586, 1705)
(39848, 1705)
bdv-data/Export 17_05_2020 02_15.xlsx
(586, 1705)
(40434, 1705)
bdv-data/Export 16_05_2020 23_53.xlsx
(586, 1705)
(41020, 1705)
bdv-data/Export 17_05_2020 02_03.xlsx
(586, 1705)
(41606, 1705)
bdv-data/Export 17_05_2020 01_13.xlsx
(586, 1705)
(42192, 1705)
bdv-data/Export 16_05_2020 23_53 1.xlsx
(586, 1705)
(42778, 1705)
bdv-data/Export 17_05_2020 01_19 1.xlsx
(586, 1705)
(43364, 1705)
bdv-data/Export 17_05_2020 01_44.xlsx
(586, 1705)
(43950, 1705)
bdv-data/Export 17_05_2020 01_33.xlsx
(586, 1705)
(44536, 1705)
bdv-data/Export 17_05_2020 00_01 1.xlsx
(586, 1705)
(45122, 1705)
bdv-data/Export 17_05_2020 01_25.xlsx
(586, 1705)
(45708, 1705)
bdv-data/Export 17_05_2020 00_13 1.xlsx
(586, 1705)
(46294, 1705)
bdv-data/Export 17_05_2020 00_08.xlsx
(586, 1705)
(46880, 1705)
bdv-data/Export 17_05_2020 02_19.xlsx
(586, 1705)
(47466, 1705)
bdv-data/Export 17_05_2020 00_20 2.xlsx
(586, 1705)
(48052, 1705)
bdv-data/Export 16_05_2020 23_49.xlsx
(586, 1705)
(48638, 1705)
bdv-data/Export 17_05_2020 00_29 1.xlsx
(586, 1705)
(49224, 1705)
bdv-data/Export 17_05_2020 00_32.xlsx
(586, 1705)
(49810, 1705)
bdv-data/Export 17_05_2020 00_11 1.xlsx
(586, 1705)
(50396, 1705)
bdv-data/Export 17_05_2020 00_18 2.xlsx
(586, 1705)
(50982, 1705)
bdv-data/Export 17_05_2020 00_33.xlsx
(586, 1705)
(51568, 1705)
bdv-data/Export 17_05_2020 00_03 1.xlsx
(586, 1705)
(52154, 1705)
bdv-data/Export 17_05_2020 00_25.xlsx
(586, 1705)
(52740, 1705)
bdv-data/Export 17_05_2020 02_18.xlsx
(586, 1705)
(53326, 1705)
bdv-data/Export 17_05_2020 00_14 2.xlsx
(586, 1705)
(53912, 1705)
bdv-data/Export 17_05_2020 00_09.xlsx
(586, 1705)
(54498, 1705)
bdv-data/Export 17_05_2020 00_35 1.xlsx
(586, 1705)
(55084, 1705)
bdv-data/Export 17_05_2020 00_27 1.xlsx
(586, 1705)
(55670, 1705)
bdv-data/Export 17_05_2020 00_30 2.xlsx
(586, 1705)
(56256, 1705)
bdv-data/Export 17_05_2020 01_32.xlsx
(586, 1705)
(56842, 1705)
bdv-data/Export 17_05_2020 01_42 1.xlsx
(586, 1705)
(57428, 1705)
bdv-data/Export 17_05_2020 01_45.xlsx
(586, 1705)
(58014, 1705)
bdv-data/Export 17_05_2020 01_12.xlsx
(586, 1705)
(58600, 1705)
bdv-data/Export 17_05_2020 02_02.xlsx
(586, 1705)
(59186, 1705)
bdv-data/Export 16_05_2020 23_52.xlsx
(586, 1705)
(59772, 1705)
bdv-data/Export 17_05_2020 02_14.xlsx
(586, 1705)
(60358, 1705)
bdv-data/Export 17_05_2020 00_29.xlsx
(586, 1705)
(60944, 1705)
bdv-data/Export 17_05_2020 01_33 1.xlsx
(586, 1705)
(61530, 1705)
bdv-data/Export 16_05_2020 23_57-2.xlsx
(586, 1705)
(62116, 1705)
bdv-data/Export 17_05_2020 00_05.xlsx
(586, 1705)
(62702, 1705)
bdv-data/Export 17_05_2020 01_11-2.xlsx
(586, 1705)
(63288, 1705)
bdv-data/Export 17_05_2020 01_17 1.xlsx
(586, 1705)
(63874, 1705)
bdv-data/Export 17_05_2020 00_13.xlsx
(586, 1705)
(64460, 1705)
bdv-data/Export 17_05_2020 01_36 1.xlsx
(586, 1705)
(65046, 1705)
bdv-data/Export 17_05_2020 01_11.xlsx
(586, 1705)
(65632, 1705)
bdv-data/Export 17_05_2020 02_19 1.xlsx
(586, 1705)
(66218, 1705)
bdv-data/Export 17_05_2020 02_01.xlsx
(586, 1705)
(66804, 1705)
bdv-data/Export 16_05_2020 23_51.xlsx
(586, 1705)
(67390, 1705)
bdv-data/Export 17_05_2020 02_17.xlsx
(586, 1705)
(67976, 1705)
bdv-data/Export 17_05_2020 01_50.xlsx
(586, 1705)
(68562, 1705)
bdv-data/Export 17_05_2020 01_33 2.xlsx
(586, 1705)
(69148, 1705)
bdv-data/Export 16_05_2020 23_58 1.xlsx
(586, 1705)
(69734, 1705)
bdv-data/Export 17_05_2020 01_12 1.xlsx
(586, 1705)
(70320, 1705)
bdv-data/Export 17_05_2020 01_23 3.xlsx
(586, 1705)
(70906, 1705)
bdv-data/Export 17_05_2020 00_10.xlsx
(586, 1705)
(71492, 1705)
bdv-data/Export 16_05_2020 23_54 1.xlsx
(586, 1705)
(72078, 1705)
bdv-data/Export 17_05_2020 00_18 1.xlsx
(586, 1705)
(72664, 1705)
bdv-data/Export 17_05_2020 00_06 1.xlsx
(586, 1705)
(73250, 1705)
bdv-data/Export 17_05_2020 00_30.xlsx
(586, 1705)
(73836, 1705)
bdv-data/Export 17_05_2020 00_26.xlsx

(586, 1705)
(74422, 1705)
bdv-data/Export 17_05_2020 00_14 1.xlsx
(586, 1705)
(75008, 1705)
bdv-data/Export 17_05_2020 01_27.xlsx
(586, 1705)
(75594, 1705)
bdv-data/Export 17_05_2020 00_27 2.xlsx
(586, 1705)
(76180, 1705)
bdv-data/Export 17_05_2020 00_34 1-2.xlsx
(586, 1705)
(76766, 1705)
bdv-data/Export 17_05_2020 00_30 1.xlsx
(586, 1705)
(77352, 1705)
bdv-data/Export 17_05_2020 01_31.xlsx
(586, 1705)
(77938, 1705)
bdv-data/Export 17_05_2020 01_30.xlsx
(586, 1705)
(78524, 1705)
bdv-data/Export 17_05_2020 00_16 1.xlsx
(586, 1705)
(79110, 1705)
bdv-data/Export 17_05_2020 02_20.xlsx
(586, 1705)
(79696, 1705)
bdv-data/Export 17_05_2020 00_01 2.xlsx
(586, 1705)
(80282, 1705)
bdv-data/Export 17_05_2020 00_08 1.xlsx
(586, 1705)
(80868, 1705)
bdv-data/Export 17_05_2020 00_04 1.xlsx
(586, 1705)
(81454, 1705)
bdv-data/Export 17_05_2020 01_26.xlsx
(586, 1705)
(82040, 1705)
bdv-data/Export 17_05_2020 00_27.xlsx
(586, 1705)
(82626, 1705)
bdv-data/Export 17_05_2020 00_20 1.xlsx
(586, 1705)
(83212, 1705)
bdv-data/Export 17_05_2020 00_31.xlsx
(586, 1705)
(83798, 1705)
bdv-data/Export 17_05_2020 02_09 1.xlsx
(586, 1705)
(84384, 1705)
bdv-data/Export 17_05_2020 00_11.xlsx
(586, 1705)
(84970, 1705)
bdv-data/Export 17_05_2020 01_45 1.xlsx
(586, 1705)
(85556, 1705)
bdv-data/Export 17_05_2020 01_43-2.xlsx
(586, 1705)
(86142, 1705)
bdv-data/Export 17_05_2020 01_31 2.xlsx
(586, 1705)
(86728, 1705)
bdv-data/Export 17_05_2020 01_38 1.xlsx
(586, 1705)
(87314, 1705)
bdv-data/Export 17_05_2020 02_17 1.xlsx
(586, 1705)
(87900, 1705)
bdv-data/Export 17_05_2020 01_26 1.xlsx
(586, 1705)
(88486, 1705)
bdv-data/Export 17_05_2020 01_23 2.xlsx
(586, 1705)
(89072, 1705)
bdv-data/Export 17_05_2020 00_07.xlsx
(586, 1705)
(89658, 1705)
bdv-data/Export 17_05_2020 02_05 1.xlsx
(586, 1705)
(90244, 1705)
bdv-data/Export 17_05_2020 01_34 1.xlsx
(586, 1705)
(90830, 1705)
bdv-data/Export 16_05_2020 23_56 1.xlsx
(586, 1705)
(91416, 1705)
bdv-data/Export 17_05_2020 01_15 2.xlsx
(586, 1705)
(92002, 1705)
bdv-data/Export 17_05_2020 02_16.xlsx
(586, 1705)
(92588, 1705)
bdv-data/Export 16_05_2020 23_50.xlsx
(586, 1705)
(93174, 1705)
bdv-data/Export 17_05_2020 02_00.xlsx
(586, 1705)
(93760, 1705)
bdv-data/Export 17_05_2020 01_47.xlsx
(586, 1705)
(94346, 1705)
bdv-data/Export 16_05_2020 23_53 2.xlsx
(586, 1705)
(94932, 1705)
bdv-data/Export 17_05_2020 00_24 1.xlsx
(586, 1705)
(95518, 1705)
bdv-data/Export 17_05_2020 00_20.xlsx
(586, 1705)
(96104, 1705)
bdv-data/Export 17_05_2020 00_28 1.xlsx
(586, 1705)
(96690, 1705)
bdv-data/Export 17_05_2020 00_00 1.xlsx
(586, 1705)
(97276, 1705)
bdv-data/Export 17_05_2020 01_21.xlsx
(586, 1705)
(97862, 1705)
bdv-data/Export 17_05_2020 00_09 2.xlsx
(586, 1705)
(98448, 1705)
bdv-data/Export 17_05_2020 00_12 1.xlsx
(586, 1705)
(99034, 1705)
bdv-data/Export 17_05_2020 01_37.xlsx
(586, 1705)
(99620, 1705)
bdv-data/Export 17_05_2020 01_40.xlsx
(586, 1705)
(100206, 1705)
bdv-data/Export 17_05_2020 01_17.xlsx
(586, 1705)
(100792, 1705)
bdv-data/Export 17_05_2020 01_14 1.xlsx
(586, 1705)
(101378, 1705)
bdv-data/Export 17_05_2020 02_07.xlsx
(586, 1705)
(101964, 1705)
bdv-data/Export 17_05_2020 01_18 1.xlsx
(586, 1705)
(102550, 1705)
bdv-data/Export 16_05_2020 23_57.xlsx
(586, 1705)
(103136, 1705)
bdv-data/Export 17_05_2020 02_11.xlsx
(586, 1705)
(103722, 1705)
bdv-data/Export 17_05_2020 01_27 2.xlsx
(586, 1705)
(104308, 1705)
bdv-data/Export 17_05_2020 02_16 2.xlsx
(586, 1705)
(104894, 1705)
bdv-data/Export 17_05_2020 00_00.xlsx
(586, 1705)
(105480, 1705)
bdv-data/Export 17_05_2020 01_30 1.xlsx
(586, 1705)
(106066, 1705)
bdv-data/Export 17_05_2020 02_01 1.xlsx
(586, 1705)
(106652, 1705)
bdv-data/Export 16_05_2020 23_59 3.xlsx
(586, 1705)
(107238, 1705)
bdv-data/Export 17_05_2020 01_41 1.xlsx
(586, 1705)
(107824, 1705)
bdv-data/Export 17_05_2020 01_38 2 (1).xlsx
(586, 1705)
(108410, 1705)
bdv-data/Export 17_05_2020 01_22 1.xlsx
(586, 1705)
(108996, 1705)
bdv-data/Export 17_05_2020 02_13 1.xlsx
(586, 1705)
(109582, 1705)
bdv-data/Export 17_05_2020 00_16.xlsx
(586, 1705)
(110168, 1705)
bdv-data/Export 17_05_2020 00_17.xlsx
(586, 1705)
(110754, 1705)
bdv-data/Export 16_05_2020 23_59 2.xlsx
(586, 1705)
(111340, 1705)
bdv-data/Export 17_05_2020 01_13 2.xlsx
(586, 1705)
(111926, 1705)
bdv-data/Export 17_05_2020 01_16 1.xlsx
(586, 1705)
(112512, 1705)
bdv-data/Export 17_05_2020 00_01.xlsx
(586, 1705)
(113098, 1705)
bdv-data/Export 17_05_2020 02_11 1.xlsx
(586, 1705)
(113684, 1705)
bdv-data/Export 17_05_2020 02_18 2.xlsx
(586, 1705)
(114270, 1705)
bdv-data/Export 17_05_2020 01_54 2.xlsx
(586, 1705)
(114856, 1705)
bdv-data/Export 17_05_2020 01_37 2.xlsx
(586, 1705)
(115442, 1705)
bdv-data/Export 17_05_2020 02_10.xlsx
(586, 1705)
(116028, 1705)
bdv-data/Export 16_05_2020 23_56.xlsx
(586, 1705)
(116614, 1705)
bdv-data/Export 17_05_2020 01_43 1.xlsx
(586, 1705)
(117200, 1705)
bdv-data/Export 17_05_2020 02_06.xlsx
(586, 1705)
(117786, 1705)
bdv-data/Export 17_05_2020 01_32 1.xlsx
(586, 1705)
(118372, 1705)
bdv-data/Export 17_05_2020 01_16.xlsx
(586, 1705)
(118958, 1705)
bdv-data/Export 17_05_2020 02_03 1.xlsx
(586, 1705)
(119544, 1705)
bdv-data/Export 17_05_2020 01_25 2.xlsx
(586, 1705)
(120130, 1705)
bdv-data/Export 17_05_2020 01_41.xlsx
(586, 1705)
(120716, 1705)
bdv-data/Export 17_05_2020 02_14 2.xlsx
(586, 1705)
(121302, 1705)
bdv-data/Export 17_05_2020 01_36.xlsx
(586, 1705)
(121888, 1705)
bdv-data/Export 17_05_2020 00_23 2.xlsx
(586, 1705)
(122474, 1705)
bdv-data/Export 17_05_2020 00_34 1.xlsx
(586, 1705)
(123060, 1705)
bdv-data/Export 17_05_2020 00_31 2.xlsx
(586, 1705)
(123646, 1705)
bdv-data/Export 17_05_2020 00_26 1.xlsx
(586, 1705)
(124232, 1705)
bdv-data/Export 17_05_2020 00_21.xlsx
(586, 1705)
(124818, 1705)
bdv-data/Export 17_05_2020 00_10 1.xlsx
(586, 1705)
(125404, 1705)
bdv-data/Export 17_05_2020 00_02 1.xlsx
(586, 1705)
(125990, 1705)

In [42]:
# TypeError: object of type 'int' has no len()
#rc.to_csv('.csv')
rc.to_pickle('bdv-data.pkl')

In [43]:
from_picle = pd.read_pickle('bdv-data.pkl')

In [44]:
from_picle.shape

(125990, 1705)

In [46]:
from_picle.head(100)

,Unnamed: 0,Company name,BvD ID number,Registered number,Primary UK SIC (2007) code,Primary UK SIC (2003) code,Primary UK SIC (2003) code.1,Primary US SIC code,Primary NAICS 2017 code,BvD sector,...,Working Capital per employee (unit)\nGBP 2011,Total Assets per employee (unit)\nGBP 2019,Total Assets per employee (unit)\nGBP 2018,Total Assets per employee (unit)\nGBP 2017,Total Assets per employee (unit)\nGBP 2016,Total Assets per employee (unit)\nGBP 2015,Total Assets per employee (unit)\nGBP 2014,Total Assets per employee (unit)\nGBP 2013,Total Assets per employee (unit)\nGBP 2012,Total Assets per employee (unit)\nGBP 2011
0,1.0,STILE CONSULTANCY LIMITED,GB07133524,07133524,70229.0,7414.0,7414.0,8742.0,541611.0,Business Services,...,NaN,n.a.,n.a.,n.a.,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,LOWESTOFT AND BECCLES PRIMARY SCHOOLS SPORTS P...,GB07537279,07537279,85200.0,8010.0,8010.0,8211.0,611110.0,"Public Administration, Education, Health Socia...",...,n.a.,n.a.,n.a.,101.5,4504,4361,NaN,NaN,NaN,n.a.
2,3.0,QUEUEPOLITELY FILMS LTD,GB09567757,09567757,59113.0,9220.0,9220.0,7812.0,512110.0,Media & Broadcasting,...,n.a.,NaN,NaN,NaN,NaN,n.a.,n.a.,n.a.,n.a.,n.a.
3,4.0,DEANE CONSULTING LTD,GB07588867,07588867,69201.0,7412.0,7412.0,8721.0,541211.0,Business Services,...,n.a.,NaN,NaN,NaN,NaN,3311,NaN,NaN,NaN,n.a.
4,5.0,FREEMOND ENERGY LLP,GBOC353264,OC353264,46420.0,5142.0,5142.0,5136.0,424320.0,Wholesale,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8177,7527,3314
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96.0,PARTICULAR PROGRAMS LTD,GB07801337,07801337,62012.0,NaN,NaN,7371.0,541511.0,Computer Software,...,n.a.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n.a.
96,97.0,LIFEVROOM LTD,GB07889465,07889465,90020.0,NaN,NaN,7929.0,711130.0,"Travel, Personal & Leisure",...,n.a.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n.a.,n.a.
97,98.0,JD BOWLER LTD,GB08159352,08159352,64999.0,6523.0,6523.0,6159.0,522298.0,"Banking, Insurance & Financial Services",...,n.a.,n.a.,NaN,NaN,NaN,NaN,NaN,NaN,n.a.,n.a.
98,99.0,POLDESIGN UK LTD,GB08447985,08447985,41100.0,NaN,NaN,1521.0,236115.0,Construction,...,n.a.,NaN,755,6593,NaN,NaN,NaN,n.a.,n.a.,n.a.
99,100.0,JES SERVICES LIMITED,GB10216464,10216464,75000.0,8520.0,8520.0,741.0,541940.0,Business Services,...,n.a.,NaN,NaN,NaN,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.

In [48]:
store = pd.HDFStore('store1.h5')
print(store)

<class 'pandas.io.pytables.HDFStore'>
File path: store1.h5

In [50]:
store['Results'] = rc

In [51]:
store.close()

In [53]:
rc.columns

Index(['Unnamed: 0', 'Company name', 'BvD ID number', 'Registered number',
       'Primary UK SIC (2007) code', 'Primary UK SIC (2003) code',
       'Primary UK SIC (2003) code.1', 'Primary US SIC code',
       'Primary NAICS 2017 code', 'BvD sector',
       ...
       'Working Capital per employee (unit)\nGBP 2011',
       'Total Assets per employee (unit)\nGBP 2019',
       'Total Assets per employee (unit)\nGBP 2018',
       'Total Assets per employee (unit)\nGBP 2017',
       'Total Assets per employee (unit)\nGBP 2016',
       'Total Assets per employee (unit)\nGBP 2015',
       'Total Assets per employee (unit)\nGBP 2014',
       'Total Assets per employee (unit)\nGBP 2013',
       'Total Assets per employee (unit)\nGBP 2012',
       'Total Assets per employee (unit)\nGBP 2011'],
      dtype='object', length=1705)

In [57]:
import numpy as np
clenuedup = rc.replace('n.a.',np.nan)

In [58]:
clenuedup.head()
store = pd.HDFStore('bdv-data.h5')
print(store)
store['Results'] = clenuedup

<class 'pandas.io.pytables.HDFStore'>
File path: bdv-data.h5

/Users/iostaptchenko/projects/secret/wsu/ie7860/ds/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3331: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block1_values] [items->Index(['Company name', 'BvD ID number', 'Registered number', 'BvD sector',
       'Date of incorporation', 'Status date', 'Company status',
       'Profit Margin\n2019', 'Profit Margin\n2018', 'Profit Margin\n2017',
       ...
       'Working Capital per employee (unit)\nGBP 2011',
       'Total Assets per employee (unit)\nGBP 2019',
       'Total Assets per employee (unit)\nGBP 2018',
       'Total Assets per employee (unit)\nGBP 2017',
       'Total Assets per employee (unit)\nGBP 2016',
       'Total Assets per employee (unit)\nGBP 2015',
       'Total Assets per employee (unit)\nGBP 2014',
       'Total Assets per employee (unit)\nGBP 2013',
       'Total Assets per employee (unit)\nGBP 2012',
       'Total Assets per employee (unit)\nGBP 2011'],
      dtype='object', length=303)]

  exec(code_obj, self.user_global_ns, self.user_ns)

NameError: name 'stroe' is not defined

In [59]:
store.close()

In [61]:
rc.isna()

,Unnamed: 0,Company name,BvD ID number,Registered number,Primary UK SIC (2007) code,Primary UK SIC (2003) code,Primary UK SIC (2003) code.1,Primary US SIC code,Primary NAICS 2017 code,BvD sector,...,Working Capital per employee (unit)\nGBP 2011,Total Assets per employee (unit)\nGBP 2019,Total Assets per employee (unit)\nGBP 2018,Total Assets per employee (unit)\nGBP 2017,Total Assets per employee (unit)\nGBP 2016,Total Assets per employee (unit)\nGBP 2015,Total Assets per employee (unit)\nGBP 2014,Total Assets per employee (unit)\nGBP 2013,Total Assets per employee (unit)\nGBP 2012,Total Assets per employee (unit)\nGBP 2011
0,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,True,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,True,False,True,True,True,False
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,False
582,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,True,True,True
583,False,False,False,False,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
584,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,True,True,False,False
585,False,False,False,False,True,True,True,True,True,True,...,False,True,True,True,True,True,True,False,False,False

In [62]:
fromhdf5 = pd.read_hdf('bdv-data.h5', key='Results')

In [63]:
fromhdf5.head(25)

,Unnamed: 0,Company name,BvD ID number,Registered number,Primary UK SIC (2007) code,Primary UK SIC (2003) code,Primary UK SIC (2003) code.1,Primary US SIC code,Primary NAICS 2017 code,BvD sector,...,Working Capital per employee (unit)\nGBP 2011,Total Assets per employee (unit)\nGBP 2019,Total Assets per employee (unit)\nGBP 2018,Total Assets per employee (unit)\nGBP 2017,Total Assets per employee (unit)\nGBP 2016,Total Assets per employee (unit)\nGBP 2015,Total Assets per employee (unit)\nGBP 2014,Total Assets per employee (unit)\nGBP 2013,Total Assets per employee (unit)\nGBP 2012,Total Assets per employee (unit)\nGBP 2011
0,1.0,STILE CONSULTANCY LIMITED,GB07133524,07133524,70229.0,7414.0,7414.0,8742.0,541611.0,Business Services,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,LOWESTOFT AND BECCLES PRIMARY SCHOOLS SPORTS P...,GB07537279,07537279,85200.0,8010.0,8010.0,8211.0,611110.0,"Public Administration, Education, Health Socia...",...,NaN,NaN,NaN,101.5,4504,4361,NaN,NaN,NaN,NaN
2,3.0,QUEUEPOLITELY FILMS LTD,GB09567757,09567757,59113.0,9220.0,9220.0,7812.0,512110.0,Media & Broadcasting,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,DEANE CONSULTING LTD,GB07588867,07588867,69201.0,7412.0,7412.0,8721.0,541211.0,Business Services,...,NaN,NaN,NaN,NaN,NaN,3311,NaN,NaN,NaN,NaN
4,5.0,FREEMOND ENERGY LLP,GBOC353264,OC353264,46420.0,5142.0,5142.0,5136.0,424320.0,Wholesale,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8177,7527,3314
5,6.0,PIPCREATIONS LIMITED,GB10106271,10106271,82990.0,7487.0,7487.0,7389.0,561439.0,Business Services,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7.0,MIRIAM'S ROSE GARDEN LIMITED,IE566240,IE566240,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2268.47,NaN,NaN,NaN,NaN,NaN
7,8.0,TIME AND TALENT LIMITED,GB09683141,09683141,68100.0,7012.0,7012.0,6531.0,531210.0,Property Services,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9.0,CBK ELITE LTD,GB10212266,10212266,96090.0,9305.0,9305.0,7299.0,812990.0,"Travel, Personal & Leisure",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,123 PC UK LIMITED,GBSC487640,SC487640,95110.0,7250.0,7250.0,7378.0,811212.0,Business Services,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11.0,LUTON IN COMMUNITY EDUCATIONAL TRAINING CIC,GB08307536,08307536,85590.0,8042.0,8042.0,8299.0,611699.0,"Public Administration, Education, Health Socia...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12.0,BETHEL MEDIA LINK LIMITED,GB09093501,09093501,60200.0,NaN,NaN,4833.0,515120.0,Media & Broadcasting,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13.0,SUSTAINABILITYSMITH LTD,GB09685283,09685283,74901.0,NaN,NaN,7389.0,561439.0,Business Services,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14.0,EFFE CLEANING SERVICE LIMITED,GB07374107,07374107,81210.0,7470.0,7470.0,7349.0,561790.0,Business Services,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15.0,RIDE FOR ERIC TRUST,GB09488271,09488271,86900.0,8514.0,8514.0,8099.0,621999.0,"Public Administration, Education, Health Socia...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16.0,GULZAR CONSULTANCY LTD,GB08410946,08410946,70229.0,7414.0,7414.0,8742.0,541611.0,Business Services,...,NaN,1076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17.0,SARASACCHETTI LIMITED,GB09113415,09113415,71111.0,7420.0,7420.0,8712.0,541310.0,Business Services,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18.0,ROCKPRINT.CO.UK LIMITED,GB08067765,08067765,18129.0,2222.0,2222.0,2759.0,323111.0,Printing & Publishing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19.0,MINDFULNESS IN AYRSHIRE LIMITED,GBSC516286,SC516286,86900.0,8514.0,8514.0,8099.0,621999.0,"Public Administration, Education, Health Socia...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20.0,THE FLAVOURED SHORTBREAD BAKERY LTD,GB09548678,09548678,56290.0,5551.0,5551.0,5812.0,722310.0,"Travel, Personal & Leisure",...,NaN,1005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21.0,WEST GREEN FARM LLP,GBOC362979,OC362979,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,138415,137596,NaN,NaN,NaN,NaN,NaN
21,22.0,LATIHAN PREMISES CIC,GB08826677,08826677,81100.0,NaN,NaN,8744.0,561210.0,Business Services,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23.0,AMINGFORD GRANGE (TRULL) MANAGEMENT COMPANY LI...,GB09291063,09291063,68320.0,7032.0,7032.0,6531.0,531210.0,Property Services,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24.0,RAYWOOD COURT MANAGEMENT COMPANY LIMITED,GB07512636,07512636,98000.0,NaN,NaN,8811.0,814110.0,Business Services,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25.0,EGA CONSULTANCY LIMITED,GB07719707,07719707,69202.0,7412.0,7412.0,8721.0,541211.0,Business Services,...,NaN,9807,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
print(fromhdf5.columns)

Index(['Unnamed: 0', 'Company name', 'BvD ID number', 'Registered number',
       'Primary UK SIC (2007) code', 'Primary UK SIC (2003) code',
       'Primary UK SIC (2003) code.1', 'Primary US SIC code',
       'Primary NAICS 2017 code', 'BvD sector',
       ...
       'Working Capital per employee (unit)\nGBP 2011',
       'Total Assets per employee (unit)\nGBP 2019',
       'Total Assets per employee (unit)\nGBP 2018',
       'Total Assets per employee (unit)\nGBP 2017',
       'Total Assets per employee (unit)\nGBP 2016',
       'Total Assets per employee (unit)\nGBP 2015',
       'Total Assets per employee (unit)\nGBP 2014',
       'Total Assets per employee (unit)\nGBP 2013',
       'Total Assets per employee (unit)\nGBP 2012',
       'Total Assets per employee (unit)\nGBP 2011'],
      dtype='object', length=1705)